Repository xinyao27/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: version 2.3.2
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

feat(cli): 更新依赖命令更新
  packages/cli/src/commands/initial/index.ts
Due: none

chore(cli): publish v2.3.3
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(cli): pnpm 安装时额外命令更新
  packages/cli/src/commands/initial/utils.ts
Due: none

chore: publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

feat(cli): 加入 monorepo 选择
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
  packages/cli/src/index.ts
Due: none

feat:(eslint-config): update rules
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/react.js
Due: prettier --write, eslint --fix

chore(eslint-config): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(eslint-config): eslint react 单行属性不换行
  packages/eslint-config/src/react.js
Due: prettier --write, eslint --fix

feat(eslint-config): remove curly rule
  packages/eslint-config/src/basic.js
Due: prettier --write, eslint --fix

docs: 更新 eslint-config readme
  packages/eslint-config/README.md
Due: prettier --write

feat(eslint-config): 更新 vue eslint config
  packages/eslint-config/src/vue.js
Due: prettier --write, eslint --fix

feat: update deps
  package.json
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  pnpm-lock.yaml
Due: prettier --write

chore: publish
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

fix(eslint-config): 修复依赖缺失
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(eslint-config): vue config update
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/vue.js
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

feat: update eslint config
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/typescript.js
  packages/tsconfig/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(eslint-config): update eslint-plugin-import and add eslint-plugin-jest
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(eslint-config): remove eslint-config-standard dependency
  packages/eslint-config/package.json
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/standard.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update eslint-plugin-import to version 2.28.0-2
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(eslint-config): use flat config
  .changeset/README.md
  .changeset/config.json
  .eslintrc
  .vscode/settings.json
  eslint.config.js
  package.json
  packages/cli/package.json
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/eslint-config/.gitignore
  packages/eslint-config/package.json
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/eslint-comments.js
  packages/eslint-config/src/index.js
  packages/eslint-config/src/js.js
  packages/eslint-config/src/jsonc.js
  packages/eslint-config/src/markdown.js
  packages/eslint-config/src/presets.js
  packages/eslint-config/src/react.js
  packages/eslint-config/src/shared.js
  packages/eslint-config/src/standard.js
  packages/eslint-config/src/typescript.js
  packages/eslint-config/src/vue.js
  packages/eslint-config/src/yml.js
  packages/eslint-config/tsup.config.ts
  packages/tsconfig/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(package.json): update release script with -r flag
  package.json
Due: prettier --write

chore: release v3.0.0
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

refactor: Update ESLint config file name and content
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/raw.ts
  pnpm-lock.yaml
Due: none

chore: release v3.0.1
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

chore: reorganize release scripts
  package.json
Due: prettier --write

feat(eslint-config): update config
  packages/eslint-config/src/js.js
Due: prettier --write, eslint --fix

chore: release v3.0.2
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

chore: update deps
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update eslint config
  packages/eslint-config/package.json
  packages/eslint-config/src/js.js
  packages/eslint-config/src/standard-rules.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,json,yml}) or (any of: *.{js,jsx,vue,html})
  eslint --fix: any of: *.{js,jsx,vue,html}
