Repository xinyao27/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,json,yml}": ["prettier --write", "git add"],
  "*.{js,jsx,vue,html}": ["prettier --write", "eslint --fix", "git add"],
  "*.ts?(x)": [
    "prettier --parser=typescript --write",
    "eslint --fix",
    "git add"
  ]
}

chore: release v3.0.3
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

chore: update script
  package.json
Due: prettier --write

feat: update eslint ts config
  packages/eslint-config/src/typescript.js
Due: prettier --write, eslint --fix

chore: release v3.0.4
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

feat(eslint-config): add eslint-plugin-unused-imports
  packages/eslint-config/package.json
  packages/eslint-config/src/js.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: release v3.0.5
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

fix: Update eslint-config package version and type
  eslint.config.js
  packages/cli/src/index.ts
  packages/eslint-config/package.json
  packages/eslint-config/src/js.js
  packages/utils/src/is.ts
Due: prettier --write, eslint --fix

chore: release v3.0.6
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

chore: Update eslint and eslint-plugin versions
  package.json
  packages/eslint-config/.gitignore
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: release v3.0.7
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

refactor: Refactor eslint-config react rules
  packages/eslint-config/src/react.js
Due: prettier --write, eslint --fix

chore: release v3.0.8
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

chore(eslint-config): update @typescript-eslint/consistent-type-imports configuration
  packages/eslint-config/src/typescript.js
Due: prettier --write, eslint --fix

chore: release v3.0.9
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

feat(cli): add vscode settings for eslint
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/raw.ts
Due: none

chore: release v3.0.10
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

chore: Update TypeScript version to 5.3.2
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: release v3.0.11
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

chore: use fs-extra
  packages/cli/package.json
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
  pnpm-lock.yaml
Due: prettier --write

chore: release v3.0.12
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

refactor(initial): use imported exists and readFile instead of the deprecated existsSync and readFile in multiple files to avoid the deprecated usage
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
Due: none

chore: release v3.0.13
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write

feat: add prettier-config
  package.json
  packages/cli/package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/js.js
  packages/eslint-config/src/presets.js
  packages/eslint-config/src/prettier.js
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(eslint-config): 集成 next plugin
  eslint.config.js
  package.json
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/eslint-config/package.json
  packages/eslint-config/src/js.js
  packages/eslint-config/src/markdown.js
  packages/eslint-config/src/presets.js
  packages/eslint-config/src/prettier.js
  packages/eslint-config/src/react.js
  packages/eslint-config/src/standard-rules.js
  packages/eslint-config/src/typescript.js
  packages/eslint-config/src/vue.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: release v3.0.14
  package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/tsconfig/package.json
  packages/utils/package.json
Due: prettier --write
