Repository xinyao27/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,json,yml}": ["prettier --write", "git add"],
  "*.{js,jsx,vue,html}": ["prettier --write", "eslint --fix", "git add"],
  "*.ts?(x)": [
    "prettier --parser=typescript --write",
    "eslint --fix",
    "git add"
  ]
}

chore: 调整 package.json 配置
  package.json
  packages/lint/package.json
Due: prettier --write

chore: scripts version 加入 chageset 操作
  package.json
Due: prettier --write

chore: version 2.1.0
  packages/lint/CHANGELOG.md
  packages/lint/package.json
Due: prettier --write

chore: 使用 tsup 作为打包工具
  package.json
  packages/lint/bin/cli.ts
  packages/lint/package.json
  packages/tsconfig/bin/install.mjs
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(cli, utils): 新加两个包 cli utils
  packages/cli/bin/cli.ts
  packages/cli/bin/git/index.ts
  packages/cli/bin/utils.ts
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/lint/bin/cli.ts
  packages/lint/bin/utils.ts
  packages/lint/package.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  tsconfig.node.json
Due: prettier --write

feat(utils): 新增 is 相关的函数
  packages/utils/src/base.ts
  packages/utils/src/index.ts
  packages/utils/src/is.ts
  packages/utils/tsconfig.json
Due: prettier --write

chore: version
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/lint/CHANGELOG.md
  packages/lint/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(cli): 修复 log 不存在
  packages/cli/bin/cli.ts
Due: none

chore(cli): version 1.0.1
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

feat: 重构 lint tsconfig 将初始化过程移入 cli
  package.json
  packages/cli/bin/cli.ts
  packages/cli/bin/git/index.ts
  packages/cli/bin/utils.ts
  packages/cli/package.json
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/raw.ts
  packages/cli/src/commands/initial/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/lint/package.json
  packages/lint/tsconfig.json
  packages/tsconfig/bin/install.mjs
  packages/tsconfig/package.json
  packages/utils/src/is.ts
  pnpm-lock.yaml
Due: prettier --write

feat(cli): 加入版本号显示 优化提示语
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
Due: none

chore(cli): version v2.1.0
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

feat(eslint-config): update config
  .eslintrc
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  .release-it.json
  package.json
  packages/cli/package.json
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/raw.ts
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/base.js
  packages/eslint-config/src/index.js
  packages/eslint-config/src/react.js
  packages/eslint-config/src/typescript.js
  packages/eslint-config/src/vue.js
  packages/lint/package.json
  packages/lint/src/react.cjs
  packages/lint/src/rules.cjs
  packages/lint/src/vanilla.cjs
  packages/lint/src/vue.cjs
  packages/tsconfig/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: version
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

feat: update config and use own
  .eslintrc
  .husky/pre-commit
  package.json
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/eslint-config/package.json
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/typescript.js
  packages/utils/src/base.ts
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

chore: version
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

chore: version
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

fix(eslint-config): fix package.json files error
  packages/eslint-config/package.json
Due: prettier --write

chore(eslint-config): version 1.0.2
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

chore(eslint-config): version 1.0.3
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(cli): update tsconfig
  packages/cli/src/commands/initial/raw.ts
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

chore(cli): version 2.2.3
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

fix(eslint-config): typescript 调整部分配置
  packages/eslint-config/src/typescript.js
Due: prettier --write, eslint --fix

chore: version 1.0.4
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(cli): add overwrite file prompt
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/commands/initial/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
Due: none

feat(cli/eslint-config): update eslint config and fix overwrite file logic
  packages/cli/src/commands/initial/utils.ts
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/react.js
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, eslint --fix

feat(eslint-config): update eslint config
  package.json
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/react.js
Due: prettier --write, eslint --fix

chore(eslint-config): version 1.0.6
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(eslint-config): update basic config
  packages/eslint-config/src/basic.js
Due: prettier --write, eslint --fix

chore(eslint-config): version 1.0.7
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(eslint-config): update basic and react config
  packages/eslint-config/src/basic.js
  packages/eslint-config/src/react.js
Due: prettier --write, eslint --fix

chore(eslint-config): version 1.0.8
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(eslint-config): update react config
  packages/eslint-config/src/react.js
Due: prettier --write, eslint --fix

chore(eslint-config): 1.0.9
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat(cli): git commit 记录不设置最大上限
  packages/cli/src/commands/git/index.ts
Due: none

chore(cli): version 2.3.1
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

feat(cli): lint 加入 @commitlint/config-conventional 安装
  packages/cli/src/commands/initial/index.ts
  packages/cli/src/index.ts
  packages/eslint-config/src/typescript.js
  packages/eslint-config/src/vue.js
Due: prettier --write, eslint --fix
